.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/node_modules
/classes
/elm-stuff
/src/main/resources/public/js/compiled
